<body class="login-container  pace-done"><div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

	<!-- Page container -->
	<div class="page-container" style="min-height:698.3999977111816px">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Password recovery -->
					<form [formGroup]="frmResetPassword" (ngSubmit)="OnSubmit()">
						<div class="panel panel-body login-form">
							<div class="text-center">
								<div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
								<h5 class="content-group">Khôi phục mật khẩu <small class="display-block">Chúng tôi sẽ gửi mật khẩu qua email cho bạn</small></h5>
							</div>

							<div class="form-group has-feedback">
								<input formControlName="txt_email" type="email" class="form-control" placeholder="Email của bạn">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors?.['email']" style="color:red ;">Không đúng định dạng của email!
                  </div>
                </div>
								<div class="form-control-feedback">
									<i class="icon-mail5 text-muted"></i>
								</div>
							</div>

							<button type="submit"  class="btn bg-blue btn-block">Đặt lại mật khẩu <i class="icon-arrow-right14 position-right"></i></button>
						</div>
					</form>
					<!-- /password recovery -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->



</body>
