<!-- Page header -->
<div class="page-header page-header-default">
  <div class="page-header-content">
    <div class="page-title">
      <h4>Quản lý thanh toán</h4>
    </div>
  </div>

  <div class="breadcrumb-line">
    <ul class="breadcrumb">
      <li><a [routerLink]="['']"><i class="icon-home2 position-left"></i> Trang chủ</a></li>
      <li class="active">Quản lý thanh toán</li>
    </ul>
  </div>
</div>
<!-- /page header -->
<div class="content">

  <!-- Detached sidebar -->

  <!-- /detached sidebar -->


  <!-- Detached content -->
  <div class="col col-lg-3">
    <div class="sidebar sidebar-default sidebar-separate">
      <div class="sidebar-content">

        <!-- User details -->
        <div class="content-group">
          <div class="panel-body bg-indigo-300 border-radius-top text-center">
            <div class="content-group-sm">
              <h6 class="text-semibold no-margin-bottom">
                {{user.name}}
              </h6>
            </div>

            <a href="#" class="display-inline-block content-group-sm">
              <img src="{{avatarPreview}}" class="img-circle img-responsive" alt="" style="width: 110px; height: 110px;">
            </a>
          </div>

          <div class="panel no-border-top no-border-radius-top">
            <ul class="navigation">
              <li class="navigation-header">Tùy chọn</li>
              <li class="active" (click)="Modal()"><a data-toggle="tab"><i class="icon-key" ></i> Đổi mật khẩu</a></li>
              <li><a (click)="Logout()"><i class="icon-switch2"></i>Đăng xuất</a>
            </ul>
          </div>
        </div>
        <!-- /user details -->
        <!-- Online users -->

      </div>
    </div>
  </div>
  <div class="col col-lg-9">
    <div class="content-detached">

      <!-- Tab content -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="profile">
          <!-- Profile info -->
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title">Thông tin cá nhân<a class="heading-elements-toggle"><i class="icon-more"></i></a>
              </h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li><a data-action="collapse"></a></li>
                  <li><a data-action="reload"></a></li>
                  <li><a data-action="close"></a></li>
                </ul>
              </div>
            </div>

            <div class="panel-body">
              <form action="#" [formGroup]="frmUser" (ngSubmit)="OnSubmit(frmUser.value)">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Tài khoản</label>
                      <input type="text" value="{{user.userName}}" disabled class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label>Họ tên</label>
                      <input formControlName="txt_name" type="text" value="{{user.name}}" class="form-control">
                      <div *ngIf="name.invalid && (name.dirty || name.touched)">
                        <div *ngIf="name.errors?.['required']" style="color:red ;">Họ tên không được rỗng</div>
                        <div *ngIf="name.errors?.['minlength']" style="color:red ;">
                          Họ tên không được nhỏ hơn 3 ký tự
                        </div>
                        <div *ngIf="name.errors?.['maxlength']" style="color:red ;">
                          Họ tên không được lớn hơn 250 ký tự
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <label>Địa chỉ</label>
                      <input formControlName="txt_address" type="text" value="{{user.address}}" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col col-md-6">
                      <label class="col col-12">Giới tính:</label>
                      <div class="col col-md-12">
                        <label class="radio-inline">
                          <input formControlName="txt_gender" type="radio" class="styled" value="Nam">
                          Nam
                        </label>

                        <label class="radio-inline">
                          <input formControlName="txt_gender" type="radio" class="styled" value="Nữ">
                          Nữ
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Ngày sinh</label>
                      <input formControlName="txt_dateOfBirth" type="date" class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                      <input type="text" readonly="readonly" value="{{user.email}}" disabled class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label>Căn cước công dân</label>
                      <input type="text" readonly="readonly" value="{{user.citizenIdentityCard}}" disabled class="form-control">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Số điện thoại</label>
                      <input type="text" formControlName="txt_phone" class="form-control">
                    </div>
                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                      <div *ngIf="phone.errors?.['pattern']" style="color:red ;">Không đúng định dạng số
                        điện thoại!</div>
                    </div>
                    <div class="col-md-6">
                      <label class="display-block">Ảnh đại diện</label>
                      <input (change)="upload($event)" type="file" class="file-styled">
                    </div>
                  </div>
                </div>

                <div class="text-right">
                  <button type="submit" class="btn btn-primary" [disabled]="frmUser.invalid">Lưu</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /profile info -->

        </div>
      </div>
      <!-- /tab content -->
    </div>
  </div>
  <!-- /detached content -->
</div>

<div *ngIf="showModal" class="modal fade" id="Modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Đổi mật khẩu</h5>
			</div>
			<hr>
			<form [formGroup]="frmPassword" (ngSubmit)="OnSubmit2()"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
					<div class="form-group">
						<label class="col-lg-4 control-label">Mật khẩu mới<span style="color:red ;">*</span>:</label>
						<div class="col-lg-8">
							<input formControlName="txt_passWord" type="text" class="form-control"
								placeholder="Mật khẩu mới">
							<div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)">
								<div *ngIf="passWord.errors?.['required']" style="color:red ;">Mật khẩu là bắt buộc</div>
								<div *ngIf="passWord.errors?.['passWord']" style="color:red ;"> Độ dài mật khẩu tối thiệu
									phải là 6 ký tự và
									phải chứa ký tự đặc biệt @#!$%&*</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-4 control-label">Nhập lại mật khẩu<span
								style="color:red ;">*</span>:</label>
						<div class="col-lg-8">
							<input formControlName="txt_rewrite_Password" type="text" class="form-control"
								placeholder="Nhập lại mật khẩu">
							<div *ngIf="rewrite_Password.invalid && (rewrite_Password.dirty || rewrite_Password.touched)">
								<div *ngIf="rewrite_Password.errors?.['required']" style="color:red ;">Xác nhận lại mật
									khẩu là bắt buộc</div>
								<div *ngIf="rewrite_Password.errors?.['matching']" style="color:red ;">Xác thực lại mật
									khẩu không đúng</div>
							</div>
						</div>
					</div>
          <div class="form-group">
            <label class="control-label col-lg-4">Mã xác nhận</label>
            <div class="col-lg-8">
              <div class="input-group">
                <input formControlName="txt_code" type="text" class="form-control" placeholder="Mã xác nhận">
                <span class="input-group-btn">
                  <button [disabled]="isButtonDisabled" (click)="disableButton()" class="btn btn-primary" type="button" (click)="OnSubmit1()">Gửi mã</button>
                </span>
              </div>
            </div>
          </div>
				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmPassword.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
