<!-- Page header -->
<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Quản lý</span> - Quản lý chỉ số điện nước</h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a (click)="createModal()" class="btn btn-link btn-float has-text"><i
						class="icon-plus22 text-primary"></i><span>Thêm chỉ số điện nước</span></a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a [routerLink]="['']"><i class="icon-home2 position-left"></i> Trang chủ</a></li>
			<li class="active">Quản lý chỉ số điện nước</li>
		</ul>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">

	<!-- Basic datatable -->
	<div class="panel panel-flat">
		<div class="panel-heading">
      <div class="row">
        <div class="col-lg-11">
          <h5 class="panel-title">DANH SÁCH THÔNG TIN CHỈ SỐ ĐIỆN NƯỚC</h5>
        </div>
        <div class="col-lg-1">
          <select class="form-control" (ngModelChange)="loadPageSize($event)" [(ngModel)]="pageSize">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th width="50px;">STT</th>
					<th>Tên phòng</th>
					<th>Số điện</th>
					<th>Số nước</th>
					<th>Ngày cập nhật</th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of list_meterReading | paginate: {itemsPerPage: pageSize, currentPage: pageIndex, totalItems: totalMeterReading}; let i = index">
					<td>{{ pageSize * (pageIndex - 1) + (i + 1)}}</td>
					<td>{{item.roomName}}</td>
					<td>{{item.electricityIndex}}</td>
					<td>{{item.waterIndex}}</td>
					<td>{{item.date | date : 'dd-MM-yyyy'}}</td>
					<td>
            <tr>
              <td><button  class="btn btn-info" (click)="openUpdateModal(item.id)"><i class="icon-pencil7"></i></button></td>
              <td><button style="margin-left:10px;"  class="btn btn-danger" (click)="onRemove(item.id)"><i class="icon-trash"></i></button></td>
            </tr>
					</td>
				</tr>
			</tbody>
		</table>
    <div style="text-align: right;">
      <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="loadPageIndex($event)">
      </pagination-controls>
    </div>
	</div>
	<!-- /basic datatable -->

</div>
<!-- /content area -->

<!-- Large modal -->
<div *ngIf="showUpdateModal" class="modal fade" id="createModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">{{title}}</h5>
			</div>
			<hr>
			<form *ngIf="doneSetupForm" [formGroup]="frmMeterReading" (ngSubmit)="OnSubmit(frmMeterReading.value)"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
          <div class="form-group">
						<label class="col-lg-3 control-label">Phòng<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<ng-select class="custom" formControlName="txt_room" class="form-control" type="text" [searchable]="true" [items]="list_room" bindLabel="name"  bindValue="id">
              </ng-select>
              <div *ngIf="room.invalid && (room.dirty || room.touched)">
                <div *ngIf="room.errors?.['required']" style="color:red ;">Bạn phải chọn Phòng</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Số điện sử dụng<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_electricityIndex" type="number" class="form-control" placeholder="Số lượng sử dụng">
              <div *ngIf="electricityIndex.invalid && (electricityIndex.dirty || electricityIndex.touched)">
								<div *ngIf="electricityIndex.errors?.['min']" style="color:red ;">Số lượng sử dụng phải lớn hơn 0</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Số nước sử dụng<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_waterIndex" type="number" class="form-control" placeholder="Số lượng sử dụng">
              <div *ngIf="waterIndex.invalid && (waterIndex.dirty || waterIndex.touched)">
								<div *ngIf="waterIndex.errors?.['min']" style="color:red ;">Số lượng sử dụng phải lớn hơn 0</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmMeterReading.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /large modal -->
